$primary: #5c33f6;
$secondary: #f0d9e7;
$purple: #a239ea;
$pink: #ff94cc;
.centered {
  display: flex;
  height: 100vh;
  flex-direction: column;
  color: $purple;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: $purple;
  padding: 2rem;
  color: $secondary;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 1);
}
.main label {
    padding:0.5rem;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
        margin: 2rem 1rem;
    }
}